//output:index.html
doctype html
html
	head
		link( rel="stylesheet", type="text/css", href="style/myindex.css")
		link( href="https://fonts.googleapis.com/css?family=Economica:700", rel="stylesheet")
		script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js")
		link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		script( src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		script( src="scroll.js")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//script( src="name.js")
		title Francisco Fraga
	body
		div#cover
					nav#mynav( data-spy="affix" data-offset-top="1")
						a#nav-about(href="#about") ABOUT
						a#nav-proj PROJECTS
						a#nav-res RESUME
						a#nav-cont CONTACT
					nav.balls
						a#ball-1(href="#cover")
						a#ball-2(href="#about")
						a#ball-3(href="")
						a#ball-4(href="")
					h1.myname#name.spinner
						|FRANCISCO FRAGA
						.spinner1
		div.about#about
					h1.atitle
						|ABOUT ME
					hr.style11
					div#me
						img#myphoto(src="img/me.jpg")

					div#atext
						p Hello, in case you didn't noticed my name is Francisco and I was born on the 3rd of August, 1995 at Porto. All my education before university took place in my hometown, Mirandela, that is a little city located at the North of Portugal. I played table tennis from 6 to 19 years old, I was very happy but decided to stop because I moved to Porto to study and I didn't had time to practice. I currently study in Faculdade de Engenharia da Universidade do Porto attending the Master in Electrical and Computer Engineering. Some of my biggest interests are sports, administration of computer systems and networks and I consider myself a code enthusiast.
					h1.atitle1
						|LANGUAGE SKILLS
					table#languages
						tbody.ltable
							tr.myline-portuguese
								td.mytitle-portuguese PORTUGUESE
								td.rate-fill-portuguese-1
								td.rate-fill-portuguese-2
								td.rate-fill-portuguese-3
								td.rate-fill-portuguese-4
								td.rate-fill-portuguese-5
								td.rate-fill-portuguese-6
							tr.myline-english
								td.mytitle-english ENGLISH
								td.rate-fill-english-1
								td.rate-fill-english-2
								td.rate-fill-english-3
								td.rate-fill-english-4
								td.rate-english-5
								td.rate-english-6
							tr.myline-spanish
								td.mytitle-spanish SPANISH
								td.rate-fill-spanish-1
								td.rate-fill-spanish-2
								td.rate-fill-spanish-3
								td.rate-spanish-4
								td.rate-spanish-5
								td.rate-spanish-5
					h1.atitle1
						|ACHIEVEMENTS
					div.achiv
						h1.atext2
							div.achivnr1 Four times Table Tennis Portuguese Teams National Champion (U10 / U12 / U15 / U18)
							div.achivnr2 Table Tennis Portuguese Mixed Doubles National Champion (U12)
							div.achivnr3 Table Tennis Iberian Teams Champion (U12)
							div.achivnr4 Two times Table Tennis Portuguese University Teams National Champion
					h1.atitle1
						|EDUCATION AND EXPERIENCE
					div.achiv
						h1.atext2
							a(href="http://aemirandela.org/aem/" target="_blank")#secundary
								div.edunr1 Escola Secundária de Mirandela
												p#p1 High School
							a(href="https://sigarra.up.pt/fcup/pt/web_page.inicial" target="_blank")#secundary
								div.edunr2 Faculdade de Ciências da Universidade do Porto (2013-2014)
													p#p2 Master in Network and Informatics Systems Engineering
							a(href="https://sigarra.up.pt/feup/pt/web_page.Inicial" target="_blank")#secundary
								div.edunr3 Faculdade de Engenharia da Universidade do Porto (2014-Present)
													p#p3 Master in Electrical and Computers Engineering
													p#p3 Telecommunications, Electronics and Computers Area
							a(href="https://www.kit.edu/english/" target="_blank")#secundary
								div.edunr4 Karlsruhe Institute of Technology (2017-Present)
													p#p4 Erasmus+ Programme
							a(href="http://www.vodafone.pt/main/a+vodafone/pt/recrutamento/Vodafone-discover-internships.html" target="_blank")#secundary
								div.edunr5 Vodafone (2017)
													p#p5 Engineering Summer Internship
					h1.atitle1
						|SKILLS
						table#myskills
							tbody.stable
								tr.myline-fstars
									td.mytitle-fstars HTML5 , CSS , JAVA
									td.rate-fill-fstars-1
									td.rate-fill-fstars-2
									td.rate-fill-fstars-3
									td.rate-fill-fstars-4
									td.rate-fill-fstars-5
									td.rate-fstars-6
								tr.myline-fourstars
									td.mytitle-fourstars C , JAVASCRIPT , SHELLSCRIPT , INTERPERSONAL AND COMMUNICATION
									td.rate-fill-fourstars-1
									td.rate-fill-fourstars-2
									td.rate-fill-fourstars-3
									td.rate-fill-fourstars-4
									td.rate-fourstars-5
									td.rate-fourstars-6
								tr.myline-threestars
									td.mytitle-threestars C++ , ELECTRONICS , MATLAB , AFTER EFFECTS , NETWORK ENGINEERING
									td.rate-fill-threestars-1
									td.rate-fill-threestars-2
									td.rate-fill-threestars-3
									td.rate-threestars-4
									td.rate-threestars-5
									td.rate-threestars-6
								tr.myline-twostars
										td.mytitle-twostars PYTHON , SQL , ASSEMBLY , MIPS32 , SPICE 
										td.rate-fill-twostars-1
										td.rate-fill-twostars-2
										td.rate-twostars-3
										td.rate-twostars-4
										td.rate-twostars-5
										td.rate-twostars-6
		div.footer
			H1 FOOTER
