#name
  margin-top: 230px
  position: relative
  margin-left: auto
  margin-right: auto
  text-align: center
  font-family: 'Economica', sans-serif
  font-size: 50px
  color: black
  z-index: 3
  width: 36%
  &:after, &::before
    content: ''
    display: block
#scene
  width: 100%
  padding: 0
  margin: auto
  display: block
  padding-top: 0px
input
  height: 100%
  width: 100%
  bacground: red
  border: 2px solid
  text-align: center
  left: calc(50% - 125px)
.spinner
  padding: 3% 3%
  &:after
    position: absolute
    width: 100%
    height: 100%
    top: -2px
    left: -2px
    border: 2px solid rgba(255, 255, 255, 0)
    animation: growing 5s ease-in-out infinite
    border-top-color: black
    transform-origin: 0% 50%
  &:before
    position: absolute
    width: 100%
    height: 100%
    top: -2px
    left: -2px
    border: 2px solid rgba(255, 255, 255, 0)
    border-bottom-color: black
    animation: growingv 5s ease-in-out infinite
    transform-origin: 100% 50%
@keyframes growing
  0%
      transform: scaleX(0)
  5%
      transform: scaleX(1)
  15%
      border-right-color: rgba(255, 255, 255, 0)
  18%
      border-top-color: black
      border-right-color: black
  100%
      border: 2px solid rgba(255, 255, 255, 0)
@keyframes growingv
  0%
      transform: scaleX(0)
  6%
      transform: scaleX(0)
  11%
      transform: scaleX(1)
  20%
      border-left-color: rgba(255, 255, 255, 0)
  23%
      border-bottom-color: black
      border-left-color: black
  100%
      border: 2px solid rgba(255, 255, 255, 0)

body
  margin: 0
  font: normal 75% Arial, Helvetica, sans-serif

#mynav
  text-align: center
  font-family: 'Economica', sans-serif
  width: 100%
  position: relative
  margin-left: auto
  margin-right: auto
  padding-top: 10px
  padding-bottom: 10px
  background-opacity: 100%
  a
    font-size: 20px
    margin-left: 30px
    margin-right: 30px
    cursor: pointer
    color: rgb(61, 61, 61)

.balls
  z-index: 3
  position: fixed
  width: 100px
  height: 100px
  right: 3%
  top: 300px
  margin-left: 30px
  background-opacity: 100%

  a
    margin-left: auto
    margin-right: auto
    margin-top: 5%
    margin-bottom: 5%

    background-color: white
    border-color: black
    border: solid 0.1px
    height: 12%
    width: 12%
    border-radius: 50%
    position: relative
    margin-top: 10px
    cursor: pointer
    text-decoration: none
    display: block
    transition: all .5s ease-in-out
  a:visited
    text-decoration: none
    display: block
    border-color: black
  a:link
    text-decoration: none
    display: block
    border-color: black


#cover
  background: url(../img/mycover.jpg) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  height: 700px
  width: 100%

.about
  position: relative
  width: 100%
  background-color: rgb(245, 245, 220)
  padding-bottom: 50px
  padding-top: 50px
  transition: all .5s ease-in-out
  [class*="atitle"]
      padding-top: 100px
      margin-left: auto
      margin-right: auto
      margin-top: 0px
      text-align: center
      font-family: 'Economica', sans-serif
      font-size: 35px
      color: black
      opacity: 1
      transition: all .5s ease-in-out
  .atitle
    padding-top: 40px
    padding-bottom: 30px
    font-style: bold

  .style11
      color: red
      border-top: 2px solid rgb(61,61,61)
      width: 0%
      height: 10px
      transition: all .3s ease-in-out


.atitle1
    font-size: 25px
    padding-top: 50px

#me
  height: 250px
#myphoto
  transition: all .5s ease-in-out
  position: relative
  display: block
  margin-top: 50px
  width: 250px
  height: 250px
  border-radius: 50%
  margin-left: auto
  margin-right: auto
  border: solid 3px rgba(66, 66, 48, 0.5)
  object-fit: contain
  opacity: 0
.scrollabout
  #ball-2
    background-color: rgb(61, 61, 61)
    height: 16%
    width: 16%
.scrollopacity
  #atext
    opacity: 1
    font-size: 17px
  #myphoto
    opacity: 1

.scroll1
  .mytitle-portuguese
    opacity: 1
    font-size: 20px
  [class*="rate-fill-portuguese"]
    opacity: 1
    padding: 7px
.scroll2
  .mytitle-english
    opacity: 1
    font-size: 20px
  [class*="rate-fill-english"]
    opacity: 1
    padding: 7px
  [class*="rate-english"]
    opacity: 1
    padding: 7px
.scroll3
  .mytitle-spanish
    opacity: 1
    font-size: 20px
  [class*="rate-fill-spanish"]
    opacity: 1
    padding: 7px
  [class*="rate-spanish"]
    opacity: 1
    padding: 7px
.scroll-skill1
  .mytitle-fstars
    opacity: 1
    font-size: 20px
  [class*="rate-fill-fstars"]
    opacity: 1
    padding: 7px
  [class*="rate-fstars"]
    opacity: 1
    padding: 7px
.scroll-skill2
  .mytitle-fourstars
    opacity: 1
    font-size: 20px
  [class*="rate-fill-fourstars"]
    opacity: 1
    padding: 7px
  [class*="rate-fourstars"]
    opacity: 1
    padding: 7px


.scroll-skill3
  .mytitle-threestars
    opacity: 1
    font-size: 20px

  [class*="rate-fill-threestars"]
    opacity: 1
    padding: 7px
  [class*="rate-threestars"]
    opacity: 1
    padding: 7px

.scroll-skill4
  .mytitle-twostars
    opacity: 1
    font-size: 20px

  [class*="rate-fill-twostars"]
    opacity: 1
    padding: 7px
  [class*="rate-twostars"]
    opacity: 1
    padding: 7px


.scroll-achiv1
  .achivnr1
    opacity: 1
    font-size: 20px
.scroll-achiv2
  .achivnr2
    opacity: 1
    font-size: 20px

.scroll-achiv3
  .achivnr3
    opacity: 1
    font-size: 20px
.scroll-achiv4
  .achivnr4
    opacity: 1
    font-size: 20px
.scroll-edu1
  .edunr1
    opacity: 1
    font-size: 20px
.scroll-edu2
  .edunr2
    opacity: 1
    font-size: 20px

.scroll-edu3
  .edunr3
    opacity: 1
    font-size: 20px

.scroll-edu4
  .edunr4
    opacity: 1
    font-size: 20px
.scroll-edu5
  .edunr5
    opacity: 1
    font-size: 20px
.scrollcover
  #ball-1
    background-color: rgb(61, 61, 61)
    height: 16%
    width: 16%

#atext
    transition: all 1s ease-in-out
    margin: 50px auto
    width: 50%
    font-family: 'Economica', sans-serif
    font-size: 17px
    text-align: justify
    text-justify: inter-word
    color: rgb(66, 66, 48)
    opacity: 0
    p
      text-indent: 30px
[class*="rate-"]
  border: solid 1px black
  margin: 16px 10px 16px 10px
  padding: 0px
  float: left
  border-radius: 50%
  opacity: 0


[class*="mytitle-"]
  font-family: 'Economica', sans-serif
  font-size: 0px
  text-align: center
  width: 50%
  transition: all .2s ease-in-out

[class*="rate-fill"]

  background-color: rgb(61, 61, 61)

.rate-fill-portuguese-1
  transition: all .2s ease-in-out

.rate-fill-portuguese-2
  transition: all .3s ease-in-out

.rate-fill-portuguese-3
  transition: all .4s ease-in-out

.rate-fill-portuguese-4
  transition: all .5s ease-in-out

.rate-fill-portuguese-5
  transition: all .8s ease-in-out

.rate-fill-portuguese-6
  transition: all 1s ease-in-out

.rate-fill-english-1
  transition: all .2s ease-in-out

.rate-fill-english-2
  transition: all .3s ease-in-out

.rate-fill-english-3
  transition: all .4s ease-in-out

.rate-fill-english-4
  transition: all .5s ease-in-out

.rate-english-5
  transition: all .8s ease-in-out

.rate-english-6
  transition: all 1s ease-in-out
.rate-fill-fstars-1
  transition: all .2s ease-in-out
.rate-fill-fstars-2
  transition: all .3s ease-in-out
.rate-fill-fstars-3
  transition: all .4s ease-in-out
.rate-fill-fstars-4
  transition: all .5s ease-in-out
.rate-fill-fstars-5
  transition: all .8s ease-in-out
.rate-fstars-6
  transition: all 1s ease-in-out

.rate-fill-fourstars-1
  transition: all .2s ease-in-out
.rate-fill-fourstars-2
  transition: all .3s ease-in-out
.rate-fill-fourstars-3
  transition: all .4s ease-in-out
.rate-fill-fourstars-4
  transition: all .5s ease-in-out
.rate-fourstars-5
  transition: all .8s ease-in-out
.rate-fourstars-6
  transition: all 1s ease-in-out


.rate-fill-twostars-1
  transition: all .2s ease-in-out
.rate-fill-twostars-2
  transition: all .3s ease-in-out
.rate-twostars-3
  transition: all .4s ease-in-out
.rate-twostars-4
  transition: all .5s ease-in-out
.rate-twostars-5
  transition: all .8s ease-in-out
.rate-twostars-6
  transition: all 1s ease-in-out

.rate-fill-threestars-1
  transition: all .2s ease-in-out
.rate-fill-threestars-2
  transition: all .3s ease-in-out
.rate-fill-threestars-3
  transition: all .4s ease-in-out
.rate-threestars-4
  transition: all .5s ease-in-out
.rate-threestars-5
  transition: all .8s ease-in-out
.rate-threestars-6
  transition: all 1s ease-in-out


.rate-fill-spanish-1
  transition: all .2s ease-in-out

.rate-fill-spanish-2
  transition: all .3s ease-in-out

.rate-fill-spanish-3
  transition: all .4s ease-in-out

.rate-spanish-4
  transition: all .5s ease-in-out

.rate-spanish-5
  transition: all .8s ease-in-out

.rate-spanish-6
  transition: all 1s ease-in-out


[class*="myline-"]
  border-top: 20px solid
  border-bottom: 20px solid
  height: 70px
  border-color: transparent
  vertical-align: middle
#languages
  margin: 50px auto
  width: 40%
  height: 150px
#myskills
  margin: 50px auto
  width: 60%
  height: 170px
.atext2
    margin: 30px auto
    width: 50%
    font-family: 'Economica', sans-serif
    opacity: 1
    text-align: justify
    text-justify: inter-word
    color: rgb(66, 66, 48)
    padding: 10px
    transition: all .2s ease-in-out

[class*="achivnr"]
  margin-top: 30px
  text-align: center
  height: 30px
  opacity: 0
  font-size: 0px
  transition: all .4s ease-in-out

[class*="edunr"]
  font-size: 0px
  margin-top: 30px
  text-align: center
  height: 30px
  cursor: pointer
  opacity: 0
  text-decoration: none
  transition: all .4s ease-in-out
  p
    opacity: 0
    font-size: 0px
    transition: all .2s ease-in-out
    color: rgb(115, 105, 75)
    text-decoration: none
.edunr1
  height: 50px
  &:hover
    #p1
      opacity: 1
      font-size: 15px

.edunr2
  height: 50px
  &:hover
    #p2
      opacity: 1
      font-size: 15px

.edunr3
  height: 50px
  &:hover
    #p3
      opacity: 1
      font-size: 15px
.edunr4
  height: 50px
  &:hover
    #p4
      opacity: 1
      font-size: 15px
.edunr5
  height: 50px
  &:hover
    #p5
      opacity: 1
      font-size: 15px

#secundary
    &:hover
      text-decoration: none
      color: rgb(66, 66, 48)
    &:active
      color: rgb(66, 66, 48)
      text-decoration: none
    &:link
      text-decoration: none
      color: rgb(66, 66, 48)
    &:visited
      text-decoration: none
      color: rgb(66, 66, 48)
.footer
  font-family: 'Economica', sans-serif
  text-align: center

.style11b
  .style11
      width: 50%
